@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin&display=swap');


body {
    background-color: #f8f8f8;
    line-height: 150%;
    display: grid;
    grid-template-columns: [left] 1fr [center]2fr [right]1fr [end];
    grid-gap: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
}
main {
    grid-column-start: center;
    grid-column-end: right;
}

nav {
    grid-column-start: left;
    grid-column-end: center;
}

div.nav-contents {
    position: sticky;
    top: 0px;
}




/* block styles */
h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
    margin-top: 2rem;
}
p {
}

blockquote {
    margin: 1rem;
    font-family: monospace;
    overflow: auto;
    white-space: pre-line;
}


/* inline styles */
p code {
    border: 0px solid #ccc;
    padding: 0.25em;
    background-color: #eee;
    border-radius: 0.25em;
}


blockquote.input {
    border: 1px solid #facaca;
    padding: 1rem;
    background-color: #fff6c7;
    white-space: pre;
}
blockquote.output {
    border: 1px solid #adadfd;
    padding: 1rem;
    background-color: #e0fff2;
}


blockquote .id {  color: red; }
blockquote .op {  color: red; }
blockquote .num {  color: green; }
blockquote .str {  color: saddlebrown; }
blockquote .argname {  color: purple; }
blockquote .punc {  color: #888; }
blockquote .funname { color: blue; }


img {
    padding: 0rem;
    border: 1px solid black;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

div.wrapper {
    overflow: scroll;
    max-height: 200px;
}
table.output {
    border: 1px solid #ccc;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
table.output td {
    border: 1px solid #ccc;
    padding: 0.25em 0.5em;
}
table.output th {
    border: 1px solid #ccc;
    background-color: #ccc;
    color: black;
}


/*
p code {
    border: 1px solid brown;
    background-color: yellow;
    padding: 0.25em;
    border-radius: 0.5em;
}
 */