body {
    background-color: #f8f8f8;
    max-width: 40rem;
    line-height: 150%;
    padding: 1rem;
    font-family: serif;
}

p code {
    border: 0px solid #ccc;
    padding: 0.25em;
    background-color: #eee;
    border-radius: 0.25em;
}

blockquote {
    margin: 1rem;
    white-space: pre-line;
    font-family: monospace;
}

blockquote.input {
    border: 1px solid #facaca;
    padding: 1rem;
    background-color: #fff6c7;
}
blockquote.output {
    border: 1px solid #adadfd;
    padding: 1rem;
    background-color: #e0fff2;
}

blockquote .id {
    color: blue;
}
blockquote .operator {
    color: red;
}
blockquote .literal {
    color: green;
}

h1, h2, h3 {
    margin: 2rem 0 0 0;
    font-family: sans-serif;
}

img {
    padding: 0rem;
    margin: 1rem;
    border: 1px solid black;
}

div.wrapper {
    overflow: scroll;
    max-height: 200px;
}
table.output {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
table.output td {
    border: 1px solid #ccc;
    padding: 0.25em 0.5em;
}
table.output th {
    border: 1px solid #ccc;
    background-color: #ccc;
    color: black;
}


/*
p code {
    border: 1px solid brown;
    background-color: yellow;
    padding: 0.25em;
    border-radius: 0.5em;
}
 */